

    {% extends 'base.html' %}

    {% block body %}
 
    <body>

    <div class="container">
    <center>
    <img width="350px" class="pbot20" src="../static/assets/OXEN_BRAND_PRIMARY.png"><br>
    <h1 class="pbot10">Ranking and Rewards</h1></center>
    <table>
    <th class="top-cell"><font class="column_name">Flair</font></th>
    <th class="top-cell"><font class="column_name">Rank</font></th>
    <th class="top-cell"><font class="column_name">Points</font></th>
    <th class="top-cell"><font class="column_name">Reward</font></th>
    <tr>
            <th class="number"></th>
            <th class="number">Peasant</th>
            <th class="number">0</th>
            <th class="number">\/</th>
            <tr>
            <th class="number"></th>
            <th class="number">Squire</th>
            <th class="number">100</th>
            <th class="number">\/</th>
            <tr>
            <th class="number"></th>
            <th class="number">Noble</th>
            <th class="number">200</th>
            <th class="number">\/</th>
            <tr>
            <th class="number"></th>
            <th class="number">Chevalier</th>
            <th class="number">500</th>
            <th class="number">\/</th>
            <tr>
            <th class="number"></th>
            <th class="number">Knight</th>
            <th class="number">1000</th>
            <th class="number">Oxen Shirt</th>
            <tr>
            <th class="number"></th>
            <th class="number">Officer Knight</th>
            <th class="number">1500</th>
            <th class="number">\/</th>
            <tr>
            <th class="number"></th>
            <th class="number">Noble Knight</th>
            <th class="number">2500</th>
            <th class="number">100 Oxen</th>
            <tr>
            <th class="number"></th>
            <th class="number">Bishop Knight</th>
            <th class="number">4000</th>
            <th class="number">\/</th>
            <tr>
            <th class="number"></th>
            <th class="number">Imperial Knight</th>
            <th class="number">6000</th>
            <th class="number">300 Oxen</th>
            <tr>
            <th class="number"></th>
            <th class="number">Grand Knight</th>
            <th class="number">8500</th>
            <th class="number">\/</th>
            <tr>
            <th class="number"></th>
            <th class="number">Lord Knight</th>
            <th class="number">11500</th>
            <th class="number">500 Oxen</th>
            <tr>
            <th class="number"></th>
            <th class="number">Lord Commander</th>
            <th class="number">15000</th>
            <th class="number">\/</th>
            <tr>
            <th class="number"></th>
            <th class="number">King</th>
            <th class="number">20000</th>
            <th class="number">\/</th>
            <tr>
            <th class="number"></th>
            <th class="number">Emperor</th>
            <th class="number">30000</th>
            <th class="number">2000 Oxen</th>
            </table></div></body></html>{% endblock %}