

    {% extends 'base.html' %}

    {% block body %}

    <body>

    <div class="container">
    <center>
    <img width="350px" class="pbot20" src="../static/assets/OXEN_BRAND_PRIMARY.png"><br>
    <h1 class="pbot10">Ranking and Rewards</h1></center>
    <center><p class='point-text'> DM <a href="https://twitter.com/Oxen_io">@Oxen_io</a> on twitter to claim your prizes.</p></center>
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
    <th class="top-cell"><font class="column_name">Flair</font></th>
    <th class="top-cell"><font class="column_name">Rank</font></th>
    <th class="top-cell"><font class="column_name">Points</font></th>
    <th class="top-cell"><font class="column_name">Reward</font></th>
        </thread>
        </table>
    </div>
    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
                <tr>
    <tr>
            <td><img style="width:100px" src ="../static/assets/villager.svg"></th>
            <td>Villager</td>
            <td class="points-text">0</td>
            <td>-</td>
            <tr>
            <td><img style="width:100px" src ="../static/assets/squire.svg"></th>
            <td>Squire</td>
            <td class="points-text">100</td>
            <td>-</td>
            <tr>
            <td><img style="width:100px" src ="../static/assets/noble.svg"></th>
            <td>Noble</td>
            <td class="points-text">200</td>
            <td>-</td>
            <tr>
            <td><img style="width:100px" src ="../static/assets/chevalier.svg"></th>
            <td>Chevalier</td>
            <td class="points-text">500</td>
            <td>-</td>
            <tr>
            <td><img style="width:100px" src ="../static/assets/knight.svg"></th>
            <td>Knight</td>
            <td class="points-text">1000</td>
            <td>Oxen Shirt</td>
            <tr>
            <td><img style="width:100px" src ="../static/assets/officerknight.svg"></th>
            <td>Officer Knight</td>
            <td class="points-text">1500</td>
            <td>-</td>
            <tr>
            <td><img style="width:100px" src ="../static/assets/nobleknight.svg"></th>
            <td>Noble Knight</td>
            <td class="points-text">2500</td>
            <td>100 Oxen</td>
            <tr>
            <td><img style="width:100px" src ="../static/assets/bishopknight.svg"></th>
            <td>Bishop Knight</td>
            <td class="points-text">4000</td>
            <td>-</td>
            <tr>
            <td><img style="width:100px" src ="../static/assets/imperialknight.svg"></th>
            <td>Imperial Knight</td>
            <td class="points-text">6000</td>
            <td>300 Oxen</td>
            <tr>
            <td><img style="width:100px" src ="../static/assets/grandknight.svg"></th>
            <td>Grand Knight</td>
            <td class="points-text">8500</td>
            <td>-</td>
            <tr>
            <td><img style="width:100px" src ="../static/assets/lordknight.svg"></th>
            <td>Lord Knight</td>
            <td class="points-text">11500</td>
            <td>500 Oxen</td>
            <tr>
            <td><img style="width:100px" src ="../static/assets/lordcommander.svg"></th>
            <td>Lord Commander</td>
            <td class="points-text">15000</td>
            <td>-</td>
            <tr>
            <td><img style="width:100px" src ="../static/assets/king.svg"></th>
            <td>King</td>
            <td class="points-text">20000</td>
            <td>-</td>
            <tr>
            <td><img style="width:100px" src ="../static/assets/emperor.svg"></th>
            <td>Emperor</td>
            <td class="points-text">30000</td>
            <td>2000 Oxen</td>
            </table></div></body></html>{% endblock %}