{% load static %}
{% block head %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
<head>
<meta property="og:title" content="Oxen Knights" />
<meta property="og:image" content="{% static 'assets/social.PNG' %}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.oxenknights.com" />
<meta property="og:description" content="Ye can now earn thyself an honourable title and prizes for spreading the word of the Ox. The dawn of a new age is upon us." />
<title>Oxen Knights</title>
<meta name="description" content="Oxen Knights Scoreboard. Community Social Interactions." />
<link rel="shortcut icon" href="{% static 'assets/peasant.png' %}" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}"/>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Prompt:wght@100;400&family=Work+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap" rel="stylesheet">

    {% endblock %}

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark rounded ">
        <a class="navbar-brand" href="{% url "home" %}"><h1><font color="white">Oxen</font><font color="#FF9F0A">Knights</font></h1></a>
        <div class="" id="navbarsExample09">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link menu-text" href="{% url "home" %}">Scoreboard<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link menu-text" href="{% url "ranking-and-reward" %}">Rankings & Rewards<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link menu-text" href="{% url "point-system" %}">Point System<span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>
<br/>
<br/>
<br/>

{% block body %}
{% endblock %}

</body>
</html>