

    {% extends 'base.html' %}
    {% block body %}
    <html><head>
    <meta charset="UTF-8">
    </head>
 
    <body>

    <div class="container">
    <center>
    <img width="350px" class="pbot20" src="static/assets/OXEN_BRAND_PRIMARY.png"><br>
    <h1 class="pbot10">Knight Scoreboard</h1></center>
    <table>
    <th class="top-cell"><font class="column_name">Twitter Handle</font></th>
    <th class="top-cell"><font class="column_name">Ranking</font></th>
    <th class="top-cell"><font class="column_name">Points</font></th>
    <th class="top-cell"><font class="column_name">Tweets</font></th>
    <th class="top-cell"><font class="column_name">Likes</font></th>
    <th class="top-cell"><font class="column_name">Retweets</font></th>
    <tr>
            <th class="handle"><img style="vertical-align:middle" width="25px" src="static/assets/crown.png"> <a href="https://twitter.com/alertstothemoon">@alertstothemoon</a></th>
            <th class="number">Noble</th>
            <th class="number">247</th>
            <th class="number">7</th>
            <th class="number">75</th>
            <th class="number">26</th>
            <tr>
            <th class="handle"><a href="https://twitter.com/cybertruck420">@cybertruck420</a></th>
            <th class="number">Squire</th>
            <th class="number">186</th>
            <th class="number">14</th>
            <th class="number">41</th>
            <th class="number">1</th><tr>
            <th class="handle"><a href="https://twitter.com/CryptoFirefly">@CryptoFirefly</a></th>
            <th class="number">Squire</th>
            <th class="number">167</th>
            <th class="number">12</th>
            <th class="number">42</th>
            <th class="number">1</th><tr>
            <th class="handle"><a href="https://twitter.com/coinhero_1">@coinhero_1</a></th>
            <th class="number">Squire</th>
            <th class="number">155</th>
            <th class="number">4</th>
            <th class="number">60</th>
            <th class="number">11</th><tr>
            <th class="handle"><a href="https://twitter.com/Crypto_Dep">@Crypto_Dep</a></th>
            <th class="number">Squire</th>
            <th class="number">150</th>
            <th class="number">1</th>
            <th class="number">212</th>
            <th class="number">48</th><tr>
            <th class="handle"><a href="https://twitter.com/thedogflip">@thedogflip</a></th>
            <th class="number">Peasant</th>
            <th class="number">86</th>
            <th class="number">6</th>
            <th class="number">26</th>
            <th class="number">0</th><tr>
            <th class="handle"><a href="https://twitter.com/TheCryptoCobra">@TheCryptoCobra</a></th>
            <th class="number">Peasant</th>
            <th class="number">61</th>
            <th class="number">6</th>
            <th class="number">1</th>
            <th class="number">0</th><tr>
            <th class="handle"><a href="https://twitter.com/REAL_BIG_POOH">@REAL_BIG_POOH</a></th>
            <th class="number">Peasant</th>
            <th class="number">61</th>
            <th class="number">4</th>
            <th class="number">16</th>
            <th class="number">1</th><tr>
            <th class="handle"><a href="https://twitter.com/mugkip">@mugkip</a></th>
            <th class="number">Peasant</th>
            <th class="number">51</th>
            <th class="number">1</th>
            <th class="number">16</th>
            <th class="number">5</th><tr>
            <th class="handle"><a href="https://twitter.com/tnewman46394617">@tnewman46394617</a></th>
            <th class="number">Peasant</th>
            <th class="number">26</th>
            <th class="number">2</th>
            <th class="number">6</th>
            <th class="number">0</th><tr>
            <th class="handle"><a href="https://twitter.com/idoethere">@idoethere</a></th>
            <th class="number">Peasant</th>
            <th class="number">25</th>
            <th class="number">1</th>
            <th class="number">5</th>
            <th class="number">2</th><tr>
            <th class="handle"><a href="https://twitter.com/DCA_Cryptoz">@DCA_Cryptoz</a></th>
            <th class="number">Peasant</th>
            <th class="number">25</th>
            <th class="number">1</th>
            <th class="number">10</th>
            <th class="number">1</th><tr>
            <th class="handle"><a href="https://twitter.com/_g0x_">@_g0x_</a></th>
            <th class="number">Peasant</th>
            <th class="number">24</th>
            <th class="number">1</th>
            <th class="number">9</th>
            <th class="number">1</th><tr>
            <th class="handle"><a href="https://twitter.com/Rahul_2503">@Rahul_2503</a></th>
            <th class="number">Peasant</th>
            <th class="number">24</th>
            <th class="number">1</th>
            <th class="number">4</th>
            <th class="number">2</th><tr>
            <th class="handle"><a href="https://twitter.com/CryptoHaidd">@CryptoHaidd</a></th>
            <th class="number">Peasant</th>
            <th class="number">21</th>
            <th class="number">1</th>
            <th class="number">6</th>
            <th class="number">1</th><tr>
            <th class="handle"><a href="https://twitter.com/CryptoCrashCom">@CryptoCrashCom</a></th>
            <th class="number">Peasant</th>
            <th class="number">20</th>
            <th class="number">2</th>
            <th class="number">0</th>
            <th class="number">0</th><tr>
            <th class="handle"><a href="https://twitter.com/CryptoMonhi">@CryptoMonhi</a></th>
            <th class="number">Peasant</th>
            <th class="number">18</th>
            <th class="number">1</th>
            <th class="number">8</th>
            <th class="number">0</th><tr>
            <th class="handle"><a href="https://twitter.com/ludwigvonhaven">@ludwigvonhaven</a></th>
            <th class="number">Peasant</th>
            <th class="number">17</th>
            <th class="number">1</th>
            <th class="number">7</th>
            <th class="number">0</th><tr>
            <th class="handle"><a href="https://twitter.com/Latgold">@Latgold</a></th>
            <th class="number">Peasant</th>
            <th class="number">16</th>
            <th class="number">1</th>
            <th class="number">6</th>
            <th class="number">0</th><tr>
            <th class="handle"><a href="https://twitter.com/jon2386">@jon2386</a></th>
            <th class="number">Peasant</th>
            <th class="number">14</th>
            <th class="number">1</th>
            <th class="number">4</th>
            <th class="number">0</th><tr>
            <th class="handle"><a href="https://twitter.com/coltholomew">@coltholomew</a></th>
            <th class="number">Peasant</th>
            <th class="number">13</th>
            <th class="number">1</th>
            <th class="number">3</th>
            <th class="number">0</th><tr>
            <th class="handle"><a href="https://twitter.com/cricketbhakt1">@cricketbhakt1</a></th>
            <th class="number">Peasant</th>
            <th class="number">13</th>
            <th class="number">1</th>
            <th class="number">3</th>
            <th class="number">0</th><tr>
            <th class="handle"><a href="https://twitter.com/foodmasku">@foodmasku</a></th>
            <th class="number">Peasant</th>
            <th class="number">12</th>
            <th class="number">1</th>
            <th class="number">2</th>
            <th class="number">0</th><tr>
            <th class="handle"><a href="https://twitter.com/CSorsselsson">@CSorsselsson</a></th>
            <th class="number">Peasant</th>
            <th class="number">12</th>
            <th class="number">1</th>
            <th class="number">2</th>
            <th class="number">0</th><tr>
            <th class="handle"><a href="https://twitter.com/Joe15969687">@Joe15969687</a></th>
            <th class="number">Peasant</th>
            <th class="number">12</th>
            <th class="number">1</th>
            <th class="number">2</th>
            <th class="number">0</th><tr>
            <th class="handle"><a href="https://twitter.com/FLIP_ON_MARS">@FLIP_ON_MARS</a></th>
            <th class="number">Peasant</th>
            <th class="number">12</th>
            <th class="number">1</th>
            <th class="number">2</th>
            <th class="number">0</th><tr>
            <th class="handle"><a href="https://twitter.com/tldr_crypto">@tldr_crypto</a></th>
            <th class="number">Peasant</th>
            <th class="number">11</th>
            <th class="number">1</th>
            <th class="number">1</th>
            <th class="number">0</th><tr>
            <th class="handle"><a href="https://twitter.com/roarwing20s">@roarwing20s</a></th>
            <th class="number">Peasant</th>
            <th class="number">11</th>
            <th class="number">1</th>
            <th class="number">1</th>
            <th class="number">0</th><tr>
            <th class="handle"><a href="https://twitter.com/trungtien9x">@trungtien9x</a></th>
            <th class="number">Peasant</th>
            <th class="number">11</th>
            <th class="number">1</th>
            <th class="number">1</th>
            <th class="number">0</th><tr>
            <th class="handle"><a href="https://twitter.com/inputspike">@inputspike</a></th>
            <th class="number">Peasant</th>
            <th class="number">10</th>
            <th class="number">1</th>
            <th class="number">0</th>
            <th class="number">0</th></table></div></body></html>{% endblock %}