
@media only screen and (max-device-width : 600px) {
.lhs{
  min-width:100%;
  float:none;
}
.rhs{
  min-width:100%;
  padding-left:0px!important;
}
h2{
  padding-top:20px;
}
.lhs-knight{
  width:20%!important;
}
}

@font-face {
  font-family: Windsor;
  src: url(assets/WindsorEF-UltraHeavy.otf);
}

@font-face {
  font-family: Zinclair;
  src: url(assets/Zinclair-Bold.otf);
}

@font-face {
  font-family: Camingo;
  src: url(assets/CamingoCode-Bold.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(assets/Roboto-Light.ttf);
}

.tbl-content::-webkit-scrollbar {
    width: 10px;
}

.tbl-content::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.scoreboard-text{
    color:black;
}
.point-system-section{
  padding-top:20px;
  padding-bottom:20px;
  position:relative;
  background-color: #10101a;
  display: block;
  overflow: auto;
}

.ranking-section{
  min-height:70vh;
  padding-top:20px;
  padding-bottom:20px;
  position:relative;
  background-color:#0b0b11;
}
.scoreboard-section{
  min-height:100vh;
  padding-top:20px;
  padding-bottom:100px;
  position:relative;
  background: url("/static/assets/Artboard_1.png") no-repeat center bottom fixed;
  background-size: 100% 100%;
  display: block;
  overflow: auto;
}

.point-system-text{
  font-family:Roboto;
  padding-left:20px;
  padding-right:20px;
  color:#cecece;

}
.divider{
  height:10px;
  background-color:#12C7BA;
}
.lhs{
  max-width:60%;
  float:left;

}
.rhs{
  width:40%;
  float:left;
  padding-left:40px;

}
.lhs-knight{
  width:40%;
  float:left;
  padding:10px;
}

.rhs-knight{
  width:60%;
  float:left;
  padding:20px 0px 20px 10px;
}
.knight-rank{
  padding-top:10px;
  font-size: 16px!important;
}
.knight-container h3{
  font-family:Camingo;
  color:white;
  font-size:28px;
}

.knight-container h4{
  font-family:Camingo;
  font-size:20px;
  color:white;
}
.knight-container{
  background-color:rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  min-width:100%;
  padding:10px;
  margin-bottom:20px;
  border-radius:20px;
  overflow: hidden;
}

.top-tweet-container{
  background-color:rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  min-width:100%;
  padding:20px;
  margin-bottom:20px;
  border-radius:20px;
  overflow: hidden;
  font-family:Roboto;
}

.container{

  vertical-align:middle;
}
.point-text{
    margin-bottom:40px;
    width:75%;
    font-weight:400;
    font-family:Roboto;
    color:#CECECE;
}

.rank1{
  float:left;
  width:20%;
  padding:20px;
}
.bar{
    float:left;
  width:60%;
}
.rank2{
    float:left;
  width:20%;
  padding:20px;
}
.progress-section{
  display:flex;
  padding-bottom: 50px;
  padding-top: 50px;
}

.progress-percent{
  text-align: right;
  padding-right:10px;
}
.check-rank-button{
  background-color: #12C7BA;
  box-shadow: 2px 2px 1px 1px rgb(0 0 0 / 30%);
  border-radius:10px;
  width:25%;
  border:0px;
  margin-left:10px;


    outline:none;
    border-color:#12C7BA;
    box-shadow:0 0 10px #12C7BA;
}

.check-rank-button:hover{
  background-color:#232A39;
  border-radius:10px;
  color: white;
  width:25%;
  border:0px;
}

#id_text{
  background-color:#232A39;
  border-color:#11112B;
  border-radius:20px;
  color:white;
  width:50%;
  padding-left:10px;

    outline:none;
    border-color:#12C7BA;
    box-shadow:0 0 10px #12C7BA;
}
.top-tweet-text{
  font-size:18px;
  line-height: 1.2;
  margin-bottom:5px;

}
.top-tweet-text a{
  color:white;
}

.current-points{
  margin:0;
  font-size:40px;
  color:white;
  font-family: Camingo;
}
.needed-points{
  font-size:22px;
  color:#CECECE;
  font-family: Camingo;
}

.progress-bar1{
  background-color:#11112B;
    border-radius:20px;
    border: 2px solid #12C7BA;
}
.progress1{
  background-color: #12C7BA;
  border-radius:20px;
}

.input-text{
  padding-top:20px;
}


.rank-text{
  padding-top:10px;
  color:#CECECE;
  font-family: Roboto;
  font-size:22px;
}
.home-logo{
  font-family: 'Cinzel Decorative', cursive!important;
  font-weight:600;
  font-size:40px;
}
th {
  padding: 20px 15px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  overflow: hidden;
}

td {
  padding: 8px 0px 8px 0px;
  text-align: center;
  vertical-align:middle;
  color: white;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family:Roboto;
  font-weight:600;
}

table{
  width:100%;
  table-layout: fixed;
}


h1 {
  font-size:52px;
  font-family: Camingo;
  font-weight:200;
  color:white;
}

h2 {
  font-family: Camingo;
  color:white;
  font-size:42px;
}

h3 {
  font-family: Camingo;
  font-size:25px;
  color:#DBF7F5;
}

h4{
    font-family: Camingo;
  font-size:20px;
  color:#DBF7F5;
}
body{
  background-color:#110C0A;
  font-family: Roboto;
}

p {
    color: white;
}

a{
  color:white;
}

a:hover{
    color:#12C7BA!important;
}

.handle-text{
  width:150px;
}

.menubar09{
    background-color:#110C0A;
}

#navbarsExample09{
    margin-left: auto;
    margin-right: 0;
}
.navbar{
  background-color:#110C0A!important;
}

.menu-text{
    font-family:Roboto;
 }

.points-text{
    font-size:20px;
    width:100px;
    color:#12C7BA;
    font-weight:600;
    font-family:Roboto;
}

.left{
    width:33%;
    float: left;
    display: block;
    margin: 0px auto;
}
.middle{
    width:33%;
    float: left;
    display: block;
    margin: 0px auto;

}
.right{
    width:33%;
    float: left;
    display: block;
    margin: 0px auto;
}

.small {
    width:50%;
}

#textblock{
  display:block;
  max-width:600px;
  margin: 0px auto;
}

.tbl-header{
  font-family:Camingo ;
  background-color:rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border-radius:20px 20px 0 0 ;

  border-bottom: 1px solid white;

 }

.tbl-content{
  font-family:Roboto;
  background-color:rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  height:45vh;
  overflow-x:auto;
  margin-top: 0px;
  border-radius:0 0 20px 20px ;
}

.tbl-content1{
  font-family:Roboto;
  background-color:rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  overflow-x:auto;
  margin-top: 0px;
  border-radius:0 0 20px 20px ;
}

.handle{
  color:#12C7BA;
  font-size:50px;
  font-family: Camingo;
  margin:0;
  text-align: center;
}

.rewards{
  font-family:Camingo;
}

.points{
  font-family:Camingo;
}

.pbot20{
  padding-bottom:20px;
}

.pbot10{
    padding-top:10px;
  padding-bottom:10px;
}

.wrapper {
  width: 600px;
  overflow: hidden; /* add this to contain floated children */
}