p {
    color: white;
  }

.navbar{
  background-color:#1E1D48!important;
}
body{
  background-color:#DBF7F5;
  padding-bottom:200px
}

#textblock{
  display:block;
  max-width:600px;
  margin: 0px auto;
}


.tbl-header{
  font-family:Prompt ;
  background-color: #1E1D48!important;
 }
.tbl-content{
  font-family:Work Sans;
  height:1000px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
th{
  padding: 20px 15px;
  text-align: center;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  overflow: hidden;
}
td{
  padding: 15px;
  text-align: center;
  vertical-align:middle;
  font-weight: 300;
  color: black;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
table{
  width:100%;
  table-layout: fixed;
}

.handle {
  font-family:Work Sans;
  text-align: center;
}

.rewards{
  font-family:Prompt  
}

.points{
  font-family:Prompt          
}

.pbot20{
  padding-bottom:20px;
}

.pbot10{
  padding-bottom:10px;
}

h1 {
  font-size:40px;
  font-family: 'Cinzel Decorative', cursive;
  font-weight:700;
}

h2 {
  font-family: Prompt;
}

.wrapper {
  width: 600px;
  overflow: hidden; /* add this to contain floated children */
}
.left {
  width: 50%;
  text-align: center;
  float:left; /* add this */
}
.right {
  width: 50%;
  text-align: center;
  float: left; /* add this */
}